@font-face {
    font-family: Feather;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/feather.ttf) format("truetype");
}

body{
    font-family: "Inter", sans-serif;
}

.spacing-lg{
    padding: 0px 32px;
}

.nav-notifications{
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 7px;
}

.notification-abs{
    background-color: #754ffe;
    width: 10px;
    height: 10px;
    top: 0;
    right: 0;
}

.notification-profile-abs{
    background-color: #19cb98;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
}

.nav-account{
    width: 40px;
    height: 40px;
}

.reset-style{
    border: none;
    background-color: transparent;
}

.bg-hero{
    background-color: #754FFE;
}

.btn-hero{
    background-color: #EAEAEA;
}

.icon-color{
    background-color: #ffeeda;
    width: 50px;
    height: 50px;
    padding: 16px;
    border-radius: 50%;
}

.bg-main{
    background-color: #f5f4f8;
}

.carousel-btn-style{
    background-color: white;
    border-radius: 24px;
    padding: 20px;
}

.info-single-card{
    font-size: small;
}

.arrow-style-prev, 
.arrow-style-next{
    background-color: white;
    opacity: 1 !important;
}

.arrow-position-prev{
    left: -99px
}

.arrow-position-next{
    right: -99px;
}

/* ANIMATION */
.card-animation:hover{
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    transform: scale(1.05);
    overflow: visible;
}